:root {
    --color-primary: light-dark(#1652FE, #4D7CFF); /* Main buttons, active icons, brand accents */
    --color-secondary: light-dark(#FF7D16, #FFA052); /* Notifications, alerts, high-priority highlights */

    --color-background: light-dark(#F8FAFF, #121212); /* Main app canvas */
    --color-surface: light-dark(#FFFFFF, #1E1E1E); /* Cards, headers, and dialogs */

    --color-text: light-dark(#1A1C1E, #F9FAFB); /* Headlines and main body content */
    --color-text-secondary: light-dark(#6B7280, #9CA3AF); /* Subtitles, hints, and disabled states */
    --color-border: light-dark(#E5E7EB, #374151); /* Subtle lines and borders */
    --color-shadow: #1654FE55;
    
    --color-error: #EF4444;
    --color-success: #10B981;
    --color-warning: #FBBF24;

    --gap-sm: 0.2rem;
    --gap-md: 0.5rem;
    --gap-lg: 1rem;
    --gap-xl: 2rem;

    --radius-sm: 0.2rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
    --radius-round: 50%;
}

.dark {
    color-scheme: only dark;
}

.light {
    color-scheme: only light;
}


/* GLOBAL */
* {
    box-sizing: border-box;
}


/* PRESS/TAP/CLICK */
.press {
    transition: filter 0.3s linear;
}

.press:hover {
    filter: brightness(150%);
}

.press:active {
    filter: grayscale(20%);
}


/* GRADIENT */
.grad {
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

.grad.gdt-text {
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


/* TINT */
.tnt-primary {
    --color-tint: var(--color-primary);
}

.tnt-secondary {
    --color-tint: var(--color-secondary);
}

.tnt-surface {
    --color-tint: var(--color-surface);
}

.tnt-text {
    --color-tint: var(--color-text);
}

.tnt-text-sec {
    --color-tint: var(--color-text-secondary);
}

.tnt-error {
    --color-tint: var(--color-error);
}

.tnt-success {
    --color-tint: var(--color-success);
}

.tnt-warning {
    --color-tint: var(--color-warning);
}

.tint {
    color: var(--color-tint);
}

.tint-bg {
    background-color: var(--color-tint);
}


/* BORDER */
.border-all {
    border: 1px solid var(--color-tint, var(--color-border));
}

.border-bottom {
    border-bottom: 1px solid var(--color-tint, var(--color-border));
}

.border-left {
    border-left: 1px solid var(--color-tint, var(--color-border));
}

.border-right {
    border-right: 1px solid var(--color-tint, var(--color-border));
}

.border-top {
    border-top: 1px solid var(--color-tint, var(--color-border));
}

.radius {
    border-radius: var(--radius-md);
}

.radius-sm {
    border-radius: var(--radius-sm);
}

.radius-md {
    border-radius: var(--radius-md);
}

.radius-lg {
    border-radius: var(--radius-lg);
}

.radius-round {
    border-radius: var(--radius-round);
}


/* SHADOW */
.shadow {
    box-shadow: 0 0 5px var(--color-tint, var(--color-shadow));
}


/* ALIGNMENT */
.center-h {
    text-align: center;
}

.center-v {
    display: inline-block;
    vertical-align: middle;
}


/* FLEX LAYOUT */
.flex {
    display: flex;
}

.flex.flx-around {
    justify-content: space-around;
}

.flex.flx-basis-sm>*,
.flex > .flx-basis-sm {
    flex-basis: 20rem;
}

.flex.flx-basis-md>*,
.flex > .flx-basis-md {
    flex-basis: 30rem;
}

.flex.flx-basis-lg>*,
.flex > .flx-basis-lg {
    flex-basis: 50rem;
}

.flex.flx-between {
    justify-content: space-between;
}

.flex.flx-center,
.flex-inline.flx-center {
    align-items: center;
}

.flex.flx-column {
    flex-direction: column;
}

.flex.flx-fill>*,
.flex > .flx-fill {
    flex: 1 0 100%;
}

.flex.flx-grow>*,
.flex > .flx-grow {
    flex-grow: 1;
}

.flex.flx-wrap {
    flex-wrap: wrap;
}

.flex-inline {
    display: inline-flex;
}

.flex > .flx-center {
    align-self: center;
}

.flex > .flx-right {
    justify-self: right;
}

.flex > .flx-shrink {
    flex-shrink: 1;
    flex-grow: 0;
}


/* FLOAT */
.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* POSITIONING */
.abs {
    position: absolute;
}

.fixed {
    position: fixed;
}

.rel {
    position: relative;
}

.sticky {
    position: sticky;
}

.pos-bottom {
    bottom: 0;
}

.pos-left {
    left: 0;
}

.pos-right {
    right: 0;
}

.pos-top {
    top: 0;
}


/* SIZE */
.fill-width {
    width: calc(100% - 1rem);
}

.fill-height {
    height: calc(100% - 1rem);
}

.font-small {
    font-size: 0.8rem;
}


/* SPACING */
.gap-sm {
    gap: var(--gap-sm);
}

.gap-md {
    gap: var(--gap-md);
}

.gap-lg {
    gap: var(--gap-lg);
}

.margin {
    margin: var(--gap-md);
}

.margin-sm,
.pad-sm {
    --gap-var: var(--gap-sm);
}

.margin-md,
.pad-md {
    --gap-var: var(--gap-md);
}

.margin-lg,
.pad-lg {
    --gap-var: var(--gap-lg);
}

.mgn-all {
    margin: var(--gap-var, var(--gap-md));
}

.mgn-left {
    margin-left: var(--gap-var, var(--gap-md));
}

.mgn-right {
    margin-right: var(--gap-var, var(--gap-md));
}

.mgn-top {
    margin-top: var(--gap-var, var(--gap-md));
}

.mgn-bottom {
    margin-bottom: var(--gap-var, var(--gap-md));
}

.pad {
    padding: var(--gap-md);
}

.pad-all {
    padding: var(--gap-var, var(--gap-md));
}

.pad-left {
    padding-left: var(--gap-var, var(--gap-md));
}

.pad-right {
    padding-right: var(--gap-var, var(--gap-md));
}

.pad-top {
    padding-top: var(--gap-var, var(--gap-md));
}

.pad-bottom {
    padding-bottom: var(--gap-var, var(--gap-md));
}


/* VISIBILITY */
.hide,
.hide-ls {
    display: none !important;
}


/* SMALL SCREEN STYLE */
@media (max-width: 768px) {

    /* VISIBILITY */
    .hide-ls {
        display: initial !important;
    }

    .hide-ss {
        display: none !important;
    }
}